#add-music {
  width: 100%;
  margin-top: 60px;
  height: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    .music-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      .image {
        width: 50px;
        height: 50px;
        background-color: #eee;
        border-radius: 8px;
        margin-right: 12px;
      }
      p {
        font-size: 18px;
        margin-bottom: 4px;
        font-weight: 600;
      }
      span {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.7);
      }
    }
    .check-box {
      cursor: pointer;
    }
  }
  .plus-music {
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 30px;
    padding: 12px;
    background: #698eff;
    color: white;
    border-radius: 50%;
  }
}
